{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;   
        }  
        .hide{
			display: none;
    	}
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 17px;
            transform: rotate(0deg);
            color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
        }
        .form-popup {
            display: none;
            position: fixed;
            top: 150px;
            right: 15px;
            border: 1px solid #f1f1f1;
            z-index: 9;
            width: 300px;
            height: 550px;
        }
        .content a:hover {
            background-color: rgb(238, 167, 75);
        }
        .form-container {
            max-width: 50px;
            height: 500px;
            padding: 10px;
        }
        .form-container1 {
            max-width: 350px;
            height: 600px;
            padding: 2px; 
        }
        .bt{
            text-align: end;
        }
        .btns_prnt{
            width: 100%;
            cursor:pointer;
            background-color: rgba(240, 248, 255, 0);
            border: none;
        }
        .btns_prnt:hover{
            background-color:#5bc9e4;
            color: rgb(15, 14, 14);
        } 
        .ScrollStyle{
            /* max-height: 200px; */
            overflow-y: scroll;
        }  
    </style>

    <div class="m-3">
        <div class="row bg-info text-light p-2 m-0">
            <div class="col-md-6">Accounting Voucher Creation</div>
            <center>
                {% for i in tally %}
                    {{i.name}}
                {% endfor %}
            </center>
        </div>
        <form class="p-2" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'create_purchasevoucher' %}" autocomplete="off">
            {% csrf_token %}
            <div class="p-3">
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-1 m-0 p-0" style="background-color: rgba(0,0,0,.4);">
                        <center><label >Purchase</label></center>
                    </div>
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-3 m-0 p-0">
                        No.
                    </div>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0">
                        <label>Supplier Invoice No.</label>
                    </div>
                    <div class="col-sm-2 m-0 p-0">
                        <input type="text" name="invoice_no" class="form-control">
                    </div>
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-1 m-0 p-0">
                        <label>Date</label>
                    </div>
                    <div class="col-sm-2 m-0 p-0">
                        <input type="date" name="date" id="date" class="form-control">
                    </div>
                </div>
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0">
                        <label>Party A/C Name</label>
                    </div>
                    <div class="col-sm-2 m-0 p-0">
                        <input type="text" class="form-control" name="party_accname" id="under1" onclick="showGroup1();">
                    </div>
                </div>
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0">
                        <label>Purchase Ledger</label>
                    </div>
                    <div class="col-sm-2 m-0 p-0">
                        <input type="text" class="form-control" name="purchase_ledger" id="under" onclick="showGroup();">
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="w-100 table text-center" border="1">
                        <thead>
                            <tr>
                                <th>Name of Item</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Per</th>
                                <th>Amount</th>
                            </tr>
                        </thead>  
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" name="item_name" id="under2" onclick="showGroup2();"></td>
                                <td><input type="text" class="form-control" name="quantity" id="qty"></td>
                                <td><input type="text" class="form-control" name="rate" id="rate1"></td>
                                <td><input type="text" class="form-control" name="per" id="per1"></td>
                                <td><input type="text" class="form-control" name="amount" id="amount1"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-2 m-0 p-0"><label>Naration</label></div>
                </div>
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"><textarea class="form-control" rows="1" name="narration"></textarea>
                </div>
            </div>
        </form>
        <div class="enter w-100 py-4"><button type="submit" class="btn btn-info w-15">CREATE</button></div>   
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#date').val(new Date().toJSON().slice(0,10));
    </script>

    <div class="form-popup ScrollStyle" id="myForm" style="background-color: #213b52">
        <form action="" class="form-container1">
            <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Ldger Account</h6>
            <button type="button" class="btn cancel close" onclick="closeForm()">X</button>
            <a href="{% url 'ledgers' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
            <hr>
            <div>
                <table>
                    <tr>
                        {% for i in pl %}
                            <option onclick="setGroup('{{i.name}}','{{i.id}}')" class="btns_prnt" data-toggle="modal" data-target="#details">
                                {{i.name}}
                            </option>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="text" name="underhidden" hidden value="{{i.id}}">
        </form>
    </div>

    <div class="form-popup ScrollStyle" id="myForm1" style="background-color: #213b52">
        <form action="" class="form-container1" >
            <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Ldger Account</h6>
            <button type="button" class="btn cancel close" onclick="closeForm1()">X</button>
            <a href="{% url 'ledgers' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
            <hr>
            <div>
                <table>
                    <tr>
                        {% for i in ac1 %}
                            <option onclick="setGroup1('{{i.name}}','{{i.id}}')" class="btns_prnt" data-toggle="modal" data-target="#party">
                                {{i.name}}
                            </option>
                        {% endfor %}
                        {% for i in ac2 %}
                            <option onclick="setGroup1('{{i.name}}','{{i.id}}')" class="btns_prnt" data-toggle="modal" data-target="#party">
                                {{i.name}}
                            </option>
                        {% endfor %}
                        {% for i in ac3 %}
                            <option onclick="setGroup1('{{i.name}}','{{i.id}}')" class="btns_prnt" data-toggle="modal" data-target="#party">
                                {{i.name}}
                            </option>
                        {% endfor %}
                        {% for i in ac4 %}
                            <option onclick="setGroup1('{{i.name}}','{{i.id}}')" class="btns_prnt" data-toggle="modal" data-target="#party">
                                {{i.name}}
                            </option>
                        {% endfor %}
                        {% for i in ac5 %}
                            <option onclick="setGroup1('{{i.name}}','{{i.id}}')" class="btns_prnt" data-toggle="modal" data-target="#party">
                                {{i.name}}
                            </option>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="text" name="underhidden1" hidden value="{{i.id}}">
        </form>
    </div>

    <div class="form-popup ScrollStyle" id="myForm2" style="background-color: #213b52">
        <form action="" class="form-container1" >
            <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Stock Items</h6>
            <button type="button" class="btn cancel close" onclick="closeForm2()">X</button>
            <a href="{% url 'load_stock_item_creation' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
            <hr>
            <div>
                <table>
                    <tr>
                        {% for i in st %}
                            <option onclick="setGroup2('{{i.name}}','{{i.id}}')" id="itm" class="btns_prnt" data-toggle="modal" data-target="#stock">
                                {{i.name}}
                            </option>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="text" name="underhidden2" hidden value="{{i.id}}">
        </form>
    </div>

    <script>
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function showGroup(){
            document.getElementById('myForm').style.visibility= "visible";
            document.getElementById("myForm").style.display = "block";
        }
        function setGroup(under,underId){
                document.getElementById('under').value= under;
                document.getElementById('myForm').style.visibility= "hidden";
                document.getElementsByName('underhidden').value= underId;
            }
    </script>
    <script>
        function closeForm1() {
            document.getElementById("myForm1").style.display = "none";
        }
        function showGroup1(){
            document.getElementById('myForm1').style.visibility= "visible";
            document.getElementById("myForm1").style.display = "block";
        }
        function setGroup1(under1,underId1){
            document.getElementById('under1').value= under1;
            document.getElementById('myForm1').style.visibility="hidden";
            document.getElementsByName('underhidden1').value= underId;
        }
    </script>
    <script>
        function closeForm2() {
            document.getElementById("myForm2").style.display = "none";
        }
        function showGroup2(){
            document.getElementById('myForm2').style.visibility= "visible";
            document.getElementById("myForm2").style.display = "block";
        }
        function setGroup2(under2,underId2){
            document.getElementById('under2').value= under2;
            document.getElementById('myForm2').style.visibility="hidden";
            document.getElementsByName('underhidden2').value= underId;
        }
    </script>

    <div class="modal fade" id="party">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: #213b52;">
                <div class="modal-header">
                    <h6>Party Details</h6>
                </div>
                <div id="dt" class="modal-body">
                    <form class="p-0" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'pv_party' %}" autocomplete="off">
                        {% csrf_token %}  
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>Supplier (Bill from)</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                <select name="supplier" id="pacc" class="custom-select" onchange="showacc()">
                                    <option value=""></option>
                                    {% for i in ac1 %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                    {% for i in ac2 %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                    {% for i in ac3 %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                    {% for i in ac4 %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                    {% for i in ac5 %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>Mailing Name</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                <input type="text" name="mailing_name" id="acc" class="form-control">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>Address</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                <textarea class="form-control" name="address" cols="20" rows="4"></textarea>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>State</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                <select name="state" class="form-control">
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala" selected>Kerala</option> 
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>    
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                {% for i in tally %}
                                    <input type="text" class="form-control" name="country" value="{{i.country}}">
                                {% endfor %}
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>GST Registration</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                <select name="gst_regtype" class="form-control">
                                    <option value="Unknown">Unknown</option> 
                                    <option value="Composition">Composition</option>
                                    <option value="Consumer">Consumer</option>
                                    <option value="Regular" selected>Regular</option>
                                    <option value="Unregistred">Unregistred</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row container-fluid p-2">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5 m-0 p-0">
                                <label>GST IN/UIN</label>
                            </div>
                            <div class="col-sm-5 m-0 p-0">
                                <input type="text" name="gstin" class="form-control">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-2"><button type="submit" class="btn btn-outline-info">Save</button></div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-outline-info" data-dismiss="modal" aria-label="Close">Close</button>
                                </div>  
                            </div>
                        </div><br>
                    </form>
                </div>
            </div>
        </div>
    </div>  

    <script>
        function showacc(){      
            var pacc = document.getElementById("pacc");
            var acc = pacc.value;
            document.getElementById("acc").value= acc;
        }
    </script>

    <div class="modal fade" id="details">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background-color: #213b52;">
                <div class="modal-header">
                    <h6>Receipt Details</h6>
                </div>
                <div id="dt" class="modal-body">
                    <div class="card p-3 m-3">
                        <form method="post" action="{% url 'pv_receipt' %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Receipt Note No.</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="note_no" class="form-control">
                                </div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Receipt Doc No.</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="doc_no" class="form-control">
                                </div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Dispatched Through</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="dispatch" class="form-control">
                                </div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Destination</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="destination" class="form-control">
                                </div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Carrier Name</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="carrier" class="form-control">
                                </div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Bill of lading</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="lading" class="form-control">
                                </div>
                                
                                <div class="col-sm-1 m-0 p-0">
                                    &nbsp;&nbsp;<label>Date</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="date" name="date" class="form-control">
                                </div>
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0"></div>
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-2 m-0 p-0">
                                    <label>Motor Vehicle No.</label>
                                </div>
                                <div class="col-sm-2 m-0 p-0">
                                    <input type="text" name="veh_no" class="form-control">
                                </div>
                            </div>
                            
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-1"><button type="submit" class="btn btn-outline-info">Save</button></div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" aria-label="Close">Close</button>
                                    </div>  
                                </div>
                            </div><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="stock">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background-color: #213b52;">
                <div class="modal-header">
                    <h6>Item Allocation</h6>
                </div>
                <div id="dt" class="modal-body">
                    <div class="card p-3 m-3">
                        <form method="post" action="{% url 'pv_item' %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="table-responsive-sm" style="background-color:rgba(0,0,0,0.4);">
                                <Table class="w-100 table text-center" border="1">
                                    <thead>
                                        <tr>
                                            <th>Godown</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Per</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select name="godown" id="product" class="custom-select">
                                                    <option value=""></option>
                                                    {% for i in gd %}
                                                        <option value="{{i.name}}">{{i.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td><input type="text" name="quantity" id="quantity" class="form-control" onchange="passqty()"></td>
                                            <td><input type="text" name="rate" id="rate" class="form-control" onchange="passrate()"></td>
                                            <td><input type="text" name="per" id="per" class="form-control" onchange="passper()"></td>
                                            <td><input type="text" name="amount" id="amount" class="form-control" onchange="passamt()"></td>
                                        </tr>
                                    </tbody>
                                </Table>
                            </div>
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"><button type="submit" class="btn btn-outline-info">Accept</button></div> 
                                </div>
                            </div><br>    
                        </form>
                    </div>    
                </div>
            </div>    
        </div>
    </div>

    <script>
        $('#quantity, #rate').on('input',function(){
            var quantity = parseFloat($('#quantity').val()) || 0;
            var rate = parseFloat($('#rate').val()) || 0;
            $('#amount').val(quantity * rate);    
        });

        $('#qty, #rate1').on('input',function(){
            var qty = parseFloat($('#qty').val()) || 0;
            var rate1 = parseFloat($('#rate1').val()) || 0;
            $('#amount1').val(qty * rate1);    
        });
    </script>
    <script>
        function passqty(){      
            var quantity = document.getElementById("quantity");
            var qty = quantity.value;
            document.getElementById("qty").value= qty;
        }
        function passrate(){      
            var rate = document.getElementById("rate");
            var rate1 = rate.value;
            document.getElementById("rate1").value= rate1;
        }
        function passper(){      
            var per = document.getElementById("per");
            var per1 = per.value;
            document.getElementById("per1").value= per1;
        }
        function passamt(){      
            var amount = document.getElementById("amount");
            var amount1 = amount.value;
            document.getElementById("amount1").value= amount1;
        }
    </script>

    <script>
        $(document).ready(function(){
            $(document).on('click','#itm',function(){
                select = $('#itm').val();
                $.ajax({
                    type: "GET",
                    url: "{% url 'itemdata' %}",
                    data: {
                    id: select
                    },
                    success:function(response){
                        console.log(response)
                        data = response.q
                        data1 = response.r
                        data2 = response.p
                        data3 = response.v
                        document.getElementById('quantity').value = data
                        document.getElementById('rate').value = data1;
                        document.getElementById('per').value = data2
                        document.getElementById('amount').value=data3
                    }
                });
            });     
        });
    </script>
  
{% endblock %}